<div class="navigation">
    <div class="navigation-header">
        <h3 class="navigation-title">Bloc Chat</h3>
        <span>
            <button type="button" class="new-room" ng-click="room.newRoom()">New Room</button>
        </span>    
    </div>
    <div class="navigation-body" ng-repeat="room in room.rooms">
        <p class="room-name" ng-click="room.showRoom(room)">{{ room.name }}</p>
    </div>
</div>



<div class="messages">
    <div class="messages-header">
        <h3>{{ room.currentRoom }}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in room.messages">
        <div class="username">{{ message.username }}</div>
        <div class="timestamp">{{ message.sentAt }}</div>
        <div class="user-message">{{ message.content }}</div>
    </div>
    <div class="message-field">
        
        <input type="text" placeholder="Type your message here..." class="message-box" ng-model="room.newMessage.content">
        <!--ngModel directive binds an input , select , textarea (or custom form control) to a property on the scope using NgModelController, which is created and exposed by this directive. ngModel is responsible for: Binding the view into the model, which other directives such as input , textarea or select require.-->
        <button class="btn-new-message" type="button" ng-click="room.sendMessage()">Send message</button>
    
    </div>
</div>